.row {
	position: relative;
	@include clearfix();
	margin-left: -1em;
	margin-bottom: 1em;
	&.no-spacing {
		margin-bottom: 0;
	}
}

/* Old */
.row__coloum-half {
	margin: 1em 0 0 1em;
	width: 50%;
	@media (max-width: 600px) {
		width: 100%;
	}
}
.row__coloum-third {
	margin: 1em 0 0 1em;
	width: 33.3333%;
}
.row__coloum-two-thirds {
	margin: 1em 0 0 1em;
	width: 66.6666%;
}
.row__coloum-fouth {
	margin: 1em 0 0 1em;
	width: 25%;
}
.row__coloum-fifth {
	margin: 1em 0 0 1em;
	width: 20%;
}
.row__coloum-three-fifths {
	margin: 1em 0 0 1em;
	width: 60%;
}
.row__coloum-sixth {
	margin: 1em 0 0 1em;
	width: 16.6666%;
}
.row__coloum-auto {
	margin: 1em 0 0 1em;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.row__coloum-shrinkwrap {
	margin: 1em 0 0 1em;
	float: left;
}
.row__coloum-no-headroom {
	margin-top: 0;
}

.row__coloum-no-sideroom {
	margin-left: 0;
}
@media (max-width: 600px) {
	.row__coloum-mobile-full {
		width: auto;
	}
}

@media (max-width: 900px) {
	.flex-wrapper.main {
		flex-direction:column;
	}
	.sidebar {
		width: auto;
	}
	.main-content {
		
	}
}